
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>
<body class="home-template">
<!-- start header -->
<header class="main-header"  style="background-image: url(http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- start logo -->
                <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
                <!-- end logo -->
                <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>
                <img src="http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg" alt="Ghost 博客系统" class="hide">
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <li  role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                        <li  role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article class="post tag-about-ghost tag-release tag-ghost-0-7-ban-ben">

                    <header class="post-head">

                    </header>


                    <section class="post-content">

                    </section>

                    <footer class="post-footer clearfix">
                        <div class="pull-right share">
                            <div class="bdsharebuttonbox share-icons bdshare-button-style0-24" data-bd-bind="1501210774214">
                                <a href="#" class="bds_more" data-cmd="more"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            </div>
                        </div>
                    </footer>

                </article>

                <div class="about-author clearfix">
                    <a href="/author/wangsai/"><img src="http://static.ghostchina.com/image/5/ea/da657733ee8c9add9cf3fd70183a6.png" alt="王赛" class="avatar pull-left"></a>

                    <div class="details">
                        <div class="author">
                            关于作者 <a href="/author/wangsai/">吴咏秋</a>
                        </div>
                        <div class="meta-info">
                            <span class="loaction"><i class="fa fa-home"></i>重庆</span>
                            <span class="website"><i class="fa fa-globe"></i><a href="http://www.bootcss.com" targer="_blank">个人网站/博客</a></span>
                        </div>
                    </div>
                </div>
            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget loginbox hide">
                    <h4 class="title">登陆</h4>
                    <div class="content community">
                        <form>
                            <div class="form-group">
                                <label>账号</label>
                                <input type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <p class="backInfo"></p>
                            <button type="button" class="btn btn-default btn-lg btn-block">登陆</button>
                            <p>还没有账号？<a href="javascript:;" class="replaceToSign">点击注册</a></p>
                        </form>
                    </div>
                </div>
                <div class="widget registerbox hide">
                    <h4 class="title">注册</h4>
                    <div class="content community">
                        <form>
                            <div class="form-group">
                                <label>账号</label>
                                <input type="text" class="form-control" name="username" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" name="password" class="form-control"  placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>重复密码</label>
                                <input type="password" class="form-control" name="repassword" placeholder="Password">
                            </div>
                            <p class="backInfo"></p>
                            <button type="button" class="btn btn-default btn-lg btn-block">提交</button>
                            <p>已有账号？<a href="javascript:;" class="replaceToLogin">点击登陆</a></p>
                        </form>
                    </div>
                </div>
                <div class="widget welcome hide">
                    <h4 class="title">Welcome</h4>
                    <div class="content userInfo">
                        <span></span>
                        <p><a href="javascript:;" class="logout">退出</a></p>
                        <p class="notadmin hide">欢迎光临我的博客！</p>
                        <p class="admin hide">你好管理员, <a href="javascript:;">进入管理</a></p>
                    </div>
                </div>
                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
            </aside>
        </div>
    </div>
</section>

<!--<footer class="main-footer">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.wuyongqiu.com/">yongqiu's blog</a></span> |
                <span><a href="javascript" target="_blank">粤ICP备17006968号</a></span> |
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/details.js"></script>
</body>
</html>
