
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>
<body class="home-template">
<!-- start header -->
<header class="main-header"  style="background-image: url(http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg)">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- start logo -->
            <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
            <!-- end logo -->
            <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>
            <img src="http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg" alt="Ghost 博客系统" class="hide">
        </div>
    </div>
</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <li  role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                        <li  role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article id=104 class="post">
                    <div class="post-head">
                        <h1 class="post-title">Ghost 1.0.0-beta.2 发布啦！</h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="#">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年6月24日星期六上午9点33分" title="2017年6月24日星期六上午9点33分">2017年6月24日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="#"><img src="http://static.ghostchina.com/image/0/94/6ac3f0cbeb3ab6e39fa40d37f9233.png" alt="Ghost 1.0.0-beta.2 发布啦！"></a>
                    </div>
                    <div class="post-content">
                        <p>紧跟前两周发布的 Ghost 1.0.0-beta.1 的步伐，今天发布了  Ghost 1.0.0-beta.2 ，我们距离最终版本又迈了一大步。我们非常期盼这是最后一个 beta 版本，希望下一次发布的就是最终候选版。 在第一个 beta 版本发布后的日子里，我们发现并修复了</p>
                    </div>
                    <div class="post-permalink">
                        <a href="#" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=100 class="post">
                    <div class="post-head">
                        <h1 class="post-title"><a href="#">1.0.0 Beta 版本发布啦！！！</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="#">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年6月9日星期五晚上9点49分" title="2017年6月9日星期五晚上9点49分">2017年6月9日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>经过 21 个 alpha 版本的迭代，我们终于迎来了第一个 1.0 beta 版本！ 请查看先前的博文以了解 1.0 和 LTS 版本之间的差异。 对于 LTS 版本的官方支持将于 2017 年 8 月 31 号结束。 如何安装 beta 版本？ 官方推荐通过 Ghost-CL</p>
                    </div>
                    <div class="post-permalink">
                        <a href="#" class="btn btn-default">阅读全文</a>
                    </div>
                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <nav class="pagination" role="navigation">
                    <span class="page-number">第 1 页 &frasl; 共 8 页</span>
                    <a class="older-posts" href="#"><i class="fa fa-angle-right"></i></a>
                </nav>
            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget loginbox hide">
                    <h4 class="title">登陆</h4>
                    <div class="content community">
                        <form>
                            <div class="form-group">
                                <label>账号</label>
                                <input type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <p class="backInfo"></p>
                            <button type="button" class="btn btn-default btn-lg btn-block">登陆</button>
                            <p>还没有账号？<a href="javascript:;" class="replaceToSign">点击注册</a></p>
                        </form>
                    </div>
                </div>
                <div class="widget registerbox hide">
                    <h4 class="title">注册</h4>
                    <div class="content community">
                        <form>
                            <div class="form-group">
                                <label>账号</label>
                                <input type="text" class="form-control" name="username" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" name="password" class="form-control"  placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>重复密码</label>
                                <input type="password" class="form-control" name="repassword" placeholder="Password">
                            </div>
                            <p class="backInfo"></p>
                            <button type="button" class="btn btn-default btn-lg btn-block">提交</button>
                            <p>已有账号？<a href="javascript:;" class="replaceToLogin">点击登陆</a></p>
                        </form>
                    </div>
                </div>
                <div class="widget welcome hide">
                    <h4 class="title">Welcome</h4>
                    <div class="content userInfo">
                        <span></span>
                        <p><a href="javascript:;" class="logout">退出</a></p>
                        <p class="notadmin hide">欢迎光临我的博客！</p>
                        <p class="admin hide">你好管理员, <a href="javascript:;">进入管理</a></p>
                    </div>
                </div>
                <!-- start tag cloud widget -->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                    <!--<div class="content tag-cloud">-->
                        <!--<a href="/tag/jquery/">jQuery</a>-->
                        <!--<a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>-->
                        <!--<a href="/tag/opensource/">开源</a>-->
                        <!--<a href="/tag/zhu-shou-han-shu/">助手函数</a>-->
                        <!--<a href="/tag/tag-cloud/">标签云</a>-->
                        <!--<a href="/tag/navigation/">导航</a>-->
                        <!--<a href="/tag/customize-page/">自定义页面</a>-->
                        <!--<a href="/tag/static-page/">静态页面</a>-->
                        <!--<a href="/tag/roon-io/">Roon.io</a>-->
                        <!--<a href="/tag/configuration/">配置文件</a>-->
                        <!--<a href="/tag/upyun/">又拍云存储</a>-->
                        <!--<a href="/tag/upload/">上传</a>-->
                        <!--<a href="/tag/handlebars/">Handlebars</a>-->
                        <!--<a href="/tag/email/">邮件</a>-->
                        <!--<a href="/tag/shortcut/">快捷键</a>-->
                        <!--<a href="/tag/yong-hu-zhi-nan/">用户指南</a>-->
                        <!--<a href="/tag/theme-market/">主题市场</a>-->
                        <!--<a href="/tag/release/">新版本发布</a>-->
                        <!--<a href="/tag-cloud/">...</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
            </aside>
        </div>
    </div>
</section>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.ghostchina.com/">Ghost中文网</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
                <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>
