
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ruby's Blog</title>
    <link rel="shortcut icon" href="/public/icoico.ico"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>
<body class="home-template">
<!-- start header -->
<header class="main-header">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- start logo -->
            <a class="branding" href="http://www.wuyongqiu.com"><img src="http://otsimngnj.bkt.clouddn.com/Ruby-Blog.png" alt="R"></a>
            <!-- end logo -->
            <h2 class="text-hide">React , node, mongodb</h2>
        </div>
    </div>
</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <li  role="presentation"><a href="http://https://github.com/yongqiu">github</a></li>
                        <li  role="presentation"><a href="http://admin.wuyongqiu.com">后台管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <div class="articleList">

                </div>
                <nav class="pagination" role="navigation">

                </nav>
            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget loginbox hide">
                    <h4 class="title">登陆</h4>
                    <div class="content community">
                        <form>
                            <div class="form-group">
                                <label>账号</label>
                                <input type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <p class="backInfo"></p>
                            <button type="button" class="btn btn-default btn-lg btn-block">登陆</button>
                            <p>还没有账号？<a href="javascript:;" class="replaceToSign">点击注册</a></p>
                        </form>
                    </div>
                </div>
                <div class="widget registerbox hide">
                    <h4 class="title">注册</h4>
                    <div class="content community">
                        <form>
                            <div class="form-group">
                                <label>账号</label>
                                <input type="text" class="form-control" name="username" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>密码</label>
                                <input type="password" name="password" class="form-control"  placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>重复密码</label>
                                <input type="password" class="form-control" name="repassword" placeholder="Password">
                            </div>
                            <p class="backInfo"></p>
                            <button type="button" class="btn btn-default btn-lg btn-block">提交</button>
                            <p>已有账号？<a href="javascript:;" class="replaceToLogin">点击登陆</a></p>
                        </form>
                    </div>
                </div>
                <div class="widget welcome hide">
                    <h4 class="title">Welcome</h4>
                    <div class="content userInfo">
                        <span></span>
                        <p><a href="javascript:;" class="logout">退出</a></p>
                        <p class="notadmin hide">欢迎光临我的博客！</p>
                        <p class="admin hide">你好管理员, <a href="javascript:;">进入管理</a></p>
                    </div>
                </div>
                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
            </aside>
        </div>
    </div>
</section>

<!--<footer class="main-footer">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="widget">-->
                    <!--<h4 class="title">标签云</h4>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.ghostchina.com/">Ghost中文网</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
                <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>
